@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0 !important;
  overflow: hidden;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
  height: fit-content;
  bottom: 0;
  top: unset;
  padding: 1rem;
}

.text-shadow {
  text-shadow: rgba(0, 0, 0, 0.533333) 0.1em 0.1em 0.1em,
    1px 1px 0px #000,
    -1px -1px 0px #000,
    -1px 1px 0px #000,
    1px -1px 0px #000,
    0px 1px 0px #000,
    0px -1px 0px #000,
    1px 0px 0px #000,
    -1px 0px 0px #000,
    1px 1px 1px rgba(0, 0, 0, 0.8),
    2px 2px 1px rgba(0, 0, 0, 0.8),
    3px 3px 1px rgba(0, 0, 0, 0.8);
}

.font-arrow {
  font-size: 4rem !important;
}


@media(max-width:500px) {
  .font-arrow {
    font-size: 2rem !important;
  }
}

@media (min-width: 500px) and (max-width: 768px) {
  .font-arrow {
    font-size: 3rem !important;
  }
}