@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0 !important;
  overflow: hidden;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
  height: fit-content;
  bottom: 0;
  top: unset;
  padding: 1rem;
}
